<div class="row">
  <div class="col-12">
    <h1>Sign up to start tracking tasks</h1>
    <div> 
      <%= link "Register", to: Routes.user_path(@conn, :new), class: "btn btn-lg btn-primary"%>
    </div>
  </div>
</div>