<h1>Edit Management</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.management_path(@conn, :update, @management)) %>

<span><%= link "Back", to: Routes.management_path(@conn, :index), class: "btn btn-danger" %></span>
